@media only screen and (max-width:768px) {
    .gm-button-show-comment {
        height: 50px;
        position: fixed;
        bottom: 0;
        display: flex;
        margin-left: -20px;
        width: 100%;
        font-size: 16px;
        z-index: 99999
    }

    .gm-button-show-comment-link {
        width: 100%;
        border: none;
        background: #232323;
        color: #fff;
        font-weight: 700;
        padding: 10px;
        box-shadow: inset 0 -3px 0 #7ca400;
        font-family: Ubuntu, sans-serif;
        line-height: 1.5;
        transition: all .25s cubic-bezier(.25, .1, .25, 1);
        cursor: pointer;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center
    }
}